@import 'gold.css' layer(reset);
@import 'gold.css' layer(default);

body {
    font-family: Times, sans-serif;
    max-width: 610px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: var(--m);
}

@font-face {
    font-family: 'Constanz';
    src: url('/static/font/ConstanzeInitials.woff2') format('woff2'),
         url('/static/font/ConstanzeInitials.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

h1 {
    font-family: 'Constanz', Times, sans-serif;
    font-size: var(--xxl);
    margin-bottom: var(--xxl);
    font-weight: normal;
}

img {
    border: 3px solid #000;
    border-radius: 10%;
    transition: transform 0.8s ease-in-out;
    padding-bottom: var(--m);
    max-width: 100%;
}
img:hover {
    transform: scale(1.05);
}
